<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Green_button.css') }}"charset="utf-8"> 
    </head>
<body>
    <h1 style="text-align:center;margin:200 auto;border: 2px solid; width:200px ;">FIRST</h1>
    <style>
        a {
            text-decoration:none;
        }
    </style>
    <div class="body"><a href="http://192.168.10.104:5000/">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        HOME
      </a></div>
    
</body>
</html>